:root {
  --light-green: #a3de83;
  --wheight-green: #2eb872;
  --red: #fa4659;
  --white: #efffe4;
}


.container-header{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 2rem;
  border-width: 0px 0em 0px 0; /* top right bottom left */
  border-style: solid dotted inset double;
  border-color: #f00 #0f0 #999 #ff0;
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
}

.header-icon{
  font-size: 5rem;
  color:var(--light-green);
}

.aux-icon{
  color: transparent;
}

.container-header-buttons{
  flex: 1;
  display: flex;
  justify-content: center;
}

.btn-header-unselected{
  margin: 0 1rem;
  border-style: groove;
  border-color: var(--light-green);
  border-radius: 5px;
  font-size: 2rem;
  background-color: white;
  color: var(--light-green);
  padding: 0.5rem 1rem;
  transition: all 0.3s ease-out;
}

.btn-header-unselected:hover{
  filter: brightness(90%);
}

.btn-header-selected{
  margin: 0 1rem;
  border-style: groove;
  border-color: var(--light-green);
  border-radius: 5px;
  font-size: 2rem;
  background-color:var(--light-green);
  color: white;
  padding: 0.7rem 1.2rem;
  transition: all 0.3s ease-out;
}

.btn-header-selected:hover{
  filter: brightness(90%);
}

@media (max-width: 500px) {
  .container-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 2rem;
    border-width: 0px 0em 0px 0; /* top right bottom left */
    border-style: solid dotted inset double;
    border-color: #f00 #0f0 #999 #ff0;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
  }


  .container-header-buttons{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .btn-header-unselected{
    margin: 1rem 0rem;
    border-style: groove;
    border-color: var(--light-green);
    border-radius: 5px;
    font-size: 2rem;
    background-color: white;
    color: var(--light-green);
    padding: 0.5rem 1rem;
    transition: all 0.3s ease-out;
  }

  .btn-header-selected{
    margin: 1rem 0rem;
    border-style: groove;
    border-color: var(--light-green);
    border-radius: 5px;
    font-size: 2rem;
    background-color:var(--light-green);
    color: white;
    padding: 0.7rem 1.2rem;
    transition: all 0.3s ease-out;
  }
}


.container-cards{
  width: 100%;
  display: grid;
  justify-content: space-around;
  grid-template-columns: repeat(3, minmax(10rem, 25%));
  margin: 2rem 0rem;
}


.container-card{
  padding: 2rem;
  box-shadow: 3px 2px 10px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 3px 2px 10px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 2px 10px 0px rgba(0,0,0,0.75);
  margin: 2.5rem 0rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.3s ease-out;
}

.container-card:hover{
  transform: translateY(-5px);
}


@media (max-width: 500px) {

  .container-cards{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem 0rem;
  }

  .container-card{
    padding: 2rem;
    width: 90%;
    box-shadow: 3px 2px 10px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 3px 2px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 2px 10px 0px rgba(0,0,0,0.75);
    margin: 2.5rem 0rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s ease-out;
  }
}

.container-title-icon{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}



.title-card{
  font-size: 1.8rem;
  max-width: 80%;
}

.check-icon-card{
  font-size: 2rem;
}

.icon-check-incompleted{
  color: var(--red);
  font-size: 3rem;
}

.icon-check-completed{
  color: var(--wheight-green);
  font-size: 3rem;
}

.task-id{
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  color: var(--wheight-green);
}

.task-id span{
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  color: var(--wheight-green);
}

.container-change-buttons{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.btn-card{
  padding: 1rem;
  border-radius: 5px;
  border: none;
  font-size: 1.4rem;
  color: white;
}

.btn-change-2-incompleted{
  background-color: var(--red);
  transition: all 0.3s ease-out;
  
}

.btn-change-2-completed{
  background-color: var(--wheight-green);
  transition: all 0.3s ease-out;
}

.btn-change-2-incompleted:hover{
  filter: brightness(90%);
}

.btn-change-2-completed:hover{
  filter: brightness(90%);
}
